
    html {
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    
    body {
        background-image: linear-gradient(141deg, rgb(223, 216, 217) 0%, whitesmoke 71%, white 100%); box-shadow: rgb(54, 54, 54) 0.5px 0.5px 2px !important;
    }
    
    .underlink {
        text-decoration: underline;
        transition: .3s;
        cursor: pointer;
    }
    
    .underlink:hover {
        text-decoration: none;
    }
    
    #logo {
        display: inline-block;
        padding: 15px 10px;
        position: fixed;
        width: 100%;
        z-index: 2;
        margin: 0;
    }
    
    #logo > img {
        width: 50px;
        transition: .2s;
    }
    
    #logo > p {
        font-size: 32.5px;
        font-family: 'Aleo', serif;
        transition: .2s;
        position: fixed;
        margin: 7.5px 0px;
        display: inline-block;
        color: black;
        font-weight: 700;
        width: calc(100% - 93px);
    }
    
    #logo > p > span {
        float: right;
        margin-top: 5px;
        font-size: 27.5px;
        cursor: pointer;
    }
    
    .is-serif {
        font-family: 'Aleo', serif;
    }
    
    .is-calendar-icon {
        border: 2px solid #363636;
        border-radius: 4px;
        padding: 2px;
        margin-bottom: 1.25rem;
    }
    
    .pagination-link.is-current {
        background-color: #363636;
        border: none;
        color: whitesmoke !important;
    }
    
    .footer {
        background-color: #363636;
    }
    
    .footer p {
        color: whitesmoke;
    }
    
    .footer a {
        color: whitesmoke !important;
    }
    
    .soc > a {
        color: whitesmoke;
        transition: .3s;
    }
    
    .fa-facebook:hover {
        color: #3373dc !important;
    }
    
    .fa-twitter:hover {
        color: #219cee !important;
    }
    
    .fa-instagram:hover {
        color: #ff3860 !important;
    }
    
    .fa-envelope:hover {
        color: #ffcc33 !important;
    }
    
    .profile {
        margin-left: 0 !important;
        margin-right: 0.5em !important;
    }
    
    #heart {
        transition: .3s;
        cursor: none;
    }
    
    #heart:hover {
        animation: colorchange 8s infinite;
        -webkit-animation: colorchange 8s infinite;
    }
    
    .card-header-title {
        margin-bottom: 0 !important;
        padding: 1rem;
    }
    
    .tag.is-link {
        cursor: pointer;
    }
    
    .card-footer-item {
        text-align: center;
        color: #363636;
        font-size: 1.5em;
    }
    
    .button.is-container {
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    
    .blog-preview {
        cursor: pointer;
        transition: 0.2s;
    }
    
    .blog-preview:hover {
        box-shadow: 3px 3px 6px rgba(10, 10, 10, 0.3);
    }
    
    .blog-preview:active {
        box-shadow: 1.5px 1.5px 3px rgba(10, 10, 10, 0.3);
    }
    
    .blog-preview:focus {
        box-shadow: 1.5px 1.5px 3px rgba(10, 10, 10, 0.3);
    }
    
    #loader {
        display: block;
        position: fixed;
        padding-top: 8em;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-image: linear-gradient(141deg, rgb(223, 216, 217) 0%, whitesmoke 71%, white 100%); box-shadow: rgb(54, 54, 54) 0.5px 0.5px 2px !important
    }
    
    #loader > button {
        background: transparent;
    }

    @keyframes colorchange {
        0%   {color: red;}
        25%  {color: yellow;}
        50%  {color: green;}
        75%  {color: blue;}
        100% {color: red;}
    }
    
    @-webkit-keyframes colorchange {
        0%   {color: red;}
        25%  {color: yellow;}
        50%  {color: green;}
        70%  {color: blue;}
        100% {color: red;}
    }